using System;

namespace <#= ProxyNamespace #>
{
    public class LabelAttribute : Attribute
    {
        public LabelAttribute(string label)
        {
            Label = label;
        }
        public string Label { get; }
    }
    public class RelationAttribute : Attribute { }
}

<#+
public string ProxyNamespace { get; set; }
#>